name: Build hyprland

on:
  workflow_dispatch:
  push:
    paths:
      - 'hyprland-git/**'
      - '.copr/**'
      - '.github/**'

jobs:
  main:
    if: |
      github.event_name == 'workflow_dispatch' ||
      contains(github.event.head_commit.message, '[build-all-released]') ||
      contains(github.event.head_commit.message, '[build-hyprland]') ||
      contains(github.event.head_commit.message, '[build-legacyrenderer]') ||
      contains(github.event.head_commit.message, '[build-git-hyprland]')
    runs-on: ubuntu-latest
    container:
      image: 'registry.fedoraproject.org/fedora-minimal:latest'

    steps:
      - name: Prepare
        run: |
          microdnf -y install --nodocs --setopt=install_weak_deps=0 \
             copr-cli parallel

      - name: Copr config
        env:
          COPR_CONF: ${{ secrets.COPR_CONFIG }}
        run: |
          mkdir -p ~/.config
          echo "$COPR_CONF" > ~/.config/copr

      - name: Build all released
        if: github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, '[build-all-released]')
        run: |
          parallel copr-cli build-package solopasha/hyprland --nowait --name ::: hyprland{,-legacyrenderer}

      - name: Build hyprland
        if: contains(github.event.head_commit.message, '[build-hyprland]')
        run: |
          copr-cli build-package solopasha/hyprland --nowait --name hyprland

      - name: Build hyprland-legacyrenderer
        if: contains(github.event.head_commit.message, '[build-legacyrenderer]')
        run: |
          copr-cli build-package solopasha/hyprland --nowait --name hyprland-legacyrenderer

      - name: Build hyprland-git
        if: contains(github.event.head_commit.message, '[build-git-hyprland]')
        run: |
          hyprlandGitBuildId=$(copr-cli build-package solopasha/hyprland --nowait --name hyprland-git | sed -n 's/.*builds: \(.*\)/\1'/p)
          copr-cli build-package solopasha/hyprland --nowait --name hyprland-plugins-git --after-build-id "$hyprlandGitBuildId"
